<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="connection.username">jarvis</property>
    <property name="connection.password">123456789</property>

    <property name="connection.url">jdbc:mysql://db4free.net:3306/transversal</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <mapping class="com.example.demo.Entity.AlbumEntity"/>
      <mapping resource="com/example/demo/Entity/jpa_mapping.xml"/>
      <mapping class="com.example.demo.Entity.ArtistaEntity"/>
      <mapping class="com.example.demo.Entity.CancionEntity"/>
      <mapping class="com.example.demo.Entity.GeneroEntity"/>
      <mapping class="com.example.demo.Entity.GrupoEntity"/>
      <mapping class="com.example.demo.Entity.PerteneceEntity"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>