<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Añadir Album</title>
    <link rel="stylesheet" type="text/css" href="../static/css/custom-css.css">
</head>
<header>
    <div class="header">
        <a href="index.html">Proyecto Transversal</a>
        <div class="header-right">
            <a href="/list_album">Lista Albunes</a>
            <a href="/list_cancion">Lista Canciones</a>
            <a href="/list_artista">Lista Artistas</a>
            <a href="/list_genero">Lista Generos</a>
            <a href="/list_grupo">Lista Grupos</a>
            <a href="/add_album">Añadir Album</a>
            <a href="/add_artista">Añadir Artista</a>
        </div>
    </div>
</header>

<body>
</br>
<form action="#" th:action="@{/addAlbum}" th:object="${albumEntity}" method="post">
    <label for="titulo">Titulo</label>
    <input type="text" th:field="*{titulo}" id="titulo" placeholder="titulo">
    <label for="precio">Precio</label>
    <input type="text" th:field="*{precio}" id="precio" placeholder="precio">
    <label for="fechaLanzamiento">Fecha de Lanzamiento</label>
    <input type="date" th:field="*{fechaLanzamiento}" id="fechaLanzamiento" placeholder="fechaLanzamiento">
    <label for="idGrupo">Grupo</label>
    <select class="form-control" th:field="*{idGrupo}" id="idGrupo" name="idGrupo">
        <option th:each="grupoEntity : ${grupos}" th:value="${grupoEntity.idGrupo}"
                th:text="${grupoEntity.idGrupo}+' : '+${grupoEntity.nombre}"></option>
    </select>
    <input type="submit" value="Add Album">
</form>
</body>
<footer class="footer">
    <div class="footer-text">
        <p>Proyecto Transversal &copy; 2019</p>
    </div>

</footer>
</html>