<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/css/custom-css.css">


</head>

<header>
    <div class="header">
        <a href="index.html">Proyecto Transversal</a>
        <div class="header-right">
            <a href="list-album.html">Lista Albunes</a>
            <a href="list-canciones.html">Lista Canciones</a>
            <a href="list-artistas.html">Lista Artistas</a>
            <a href="list-generos.html">Lista Generos</a>
            <a href="list-grupos.html">Lista Grupos</a>
        </div>
    </div>
</header>

<body>
<h1> Proyecto Transversal</h1>
</br>
<a>Si quieres descargar todos los datos pulsa el siguiene boton </a>
</br>
</br>
<div class="options">
    <input type="button" value="Exportar Datos">
</div>
</body>

<footer class="footer">
    <div class="footer-txt">
        <p>Proyecto Transversal &copy; 2015</p>
    </div>

</footer>

</html>