<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proyecto Transversas</title>
    <link rel="stylesheet" type="text/css" href="../static/css/custom-css.css">


</head>

<header>
    <div class="header">
        <a href="index.html">Proyecto Transversal</a>
        <div class="header-right">
            <a href="/list_album">Lista Albunes</a>
            <a href="/list_cancion">Lista Canciones</a>
            <a href="/list_artista">Lista Artistas</a>
            <a href="/list_genero">Lista Generos</a>
            <a href="/list_grupo">Lista Grupos</a>
            <a href="/add_album">Añadir Album</a>
            <a href="/add_artista">Añadir Artista</a>
        </div>
    </div>
</header>

<body>
<h1> Proyecto Transversal</h1>
</br>
<a>Si quieres descargar todos los datos pulsa el siguiene boton </a>
</br>
</br>
<div class="options">
    <input type="button" value="Exportar Datos">
</div>
</body>

<footer class="footer">
    <div class="footer-text">
        <p>Proyecto Transversal &copy; 2019</p>
    </div>

</footer>

</html>