<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado de generos</title>
    <link rel="stylesheet" type="text/css" href="../static/css/custom-css.css">


</head>

<header>
    <div class="header">
        <a href="index.html">Proyecto Transversal</a>
        <div class="header-right">
            <a href="list-album.html">Lista Albunes</a>
            <a href="list-canciones.html">Lista Canciones</a>
            <a href="list-artistas.html">Lista Artistas</a>
            <a href="list-generos.html">Lista Generos</a>
            <a href="list-grupos.html">Lista Grupos</a>
            <a href="add-album.html">Añadir Album</a>
            <a href="add-artista.html">Añadir Artista</a>
        </div>
    </div>
</header>

<body>
<div th:switch="${generos}" xmlns:th="http://www.w3.org/1999/xhtml">
    <h2 th:case="null">No hay generos musicales disponibles</h2>
    <div th:case="*">
        <h2>Generos</h2>
        <table>
            <thead>
            <tr>
                <th>Nombre</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="genero : ${generos}">
                <td th:text="${genero.nombre}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/signup">Add a new genero</a></p>
</div>
</body>

<footer>

</footer>
</html>