
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado de artistas</title>
    <link rel="stylesheet" type="text/css" href="/../static/css/custom-css.css">


</head>

<header>
    <div class="header">
        <a href="index.html">Proyecto Transversal</a>
        <div class="header-right">
            <a href="/list_album">Lista Albunes</a>
            <a href="/list_cancion">Lista Canciones</a>
            <a href="/list_artista">Lista Artistas</a>
            <a href="/list_genero">Lista Generos</a>
            <a href="/list_grupo">Lista Grupos</a>
            <a href="/add_album">Añadir Album</a>
            <a href="/add_artista">Añadir Artista</a>
        </div>
    </div>
</header>

<body>
<div th:switch="${artistas}" xmlns:th="http://www.w3.org/1999/xhtml">
    <h2 th:case="null">No hay artistas disponibles</h2>
    <div th:case="*">
        <h2>Artistas</h2>
        <table>
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Apodo</th>
                <th>Fecha de nacimiento</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="artista : ${artistas}">
                <td th:text="${artista.nombre}"></td>
                <td th:text="${artista.apellidos}"></td>
                <td th:text="${artista.apodo}"></td>
                <td th:text="${artista.fechaNacimiento}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="opciones">
        <p><a href="/add_artista">Add a new artista</a></p>
    </div>

</div>
</body>

<footer class="footer">
    <div class="footer-text">
        <p>Proyecto Transversal &copy; 2019</p>
    </div>

</footer>
</html>