


<html>
<head xmlns:th="http://www.springframework.org/schema/data/jaxb">
    <link rel="stylesheet" type="text/css" href="../static/css/custom-css.css">
</head>

<header>
    <div class="header">
        <a href="#default" class="logo">Proyecto Transversal</a>
        <div class="header-right">
            <a class="active" href="list-album.html">Lista Albunes</a>
            <a href="list-canciones.html">Lista Canciones</a>
            <a href="list-artistas.html">Lista Artistas</a>
            <a href="list-generos.html">Lista Generos</a>
            <a href="list-grupos.html">Lista Grupos</a>
        </div>
    </div>
</header>

<body>
<div th:switch="${canciones}" xmlns:th="http://www.w3.org/1999/xhtml">
    <h2 th:case="null">No canciones yet!</h2>
    <div th:case="*">
        <h2>Canciones</h2>
        <table>
            <thead>
            <tr>
                <th>Titulo</th>
                <th>Duracion</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cancion : ${canciones}">
                <td th:text="${cancion.titulo}"></td>
                <td th:text="${cancion.duracion}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="options">
        <p><a href="/signup">Nueva cancion</a></p>
    </div>

</div>
</body>

<footer class="footer1">
    <div class="footer-txt">
        <p>Proyecto Transversal &copy; 2015</p>
    </div>

</footer>
</html>