<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado de albumes</title>
    <link rel="stylesheet" type="text/css" href="/../static/css/custom-css.css">


</head>
<header>
    <div class="header">
        <a href="index.html">Proyecto Transversal</a>
        <div class="header-right">
            <a href="/list_album">Lista Albunes</a>
            <a href="/list_cancion">Lista Canciones</a>
            <a href="/list_artista">Lista Artistas</a>
            <a href="/list_genero">Lista Generos</a>
            <a href="/list_grupo">Lista Grupos</a>
            <a href="/add_album">Añadir Album</a>
            <a href="/add_artista">Añadir Artista</a>
        </div>
    </div>
</header>

<body>
<div th:switch="${albumes}" xmlns:th="http://www.w3.org/1999/xhtml">
    <h2 th:case="null">No hay albumes disponibles</h2>
    <div th:case="*">
        <h2>Albumes</h2>
        <table>
            <thead>
            <tr>
                <th>Titulo</th>
                <th>Precio</th>
                <th>Fecha de Lanzamiento</th>
                <th>Nombre Grupo</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="album : ${albumes}">
                <td th:text="${album.titulo}"></td>
                <td th:text="${album.precio}"></td>
                <td th:text="${album.fechaLanzamiento}"></td>
                <td th:text="${album.grupoEntity.nombre}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="options">
        <p><a href="/add_album">Nuevo album</a></p>
    </div>
</div>
</body>

<footer class="footer">
    <div class="footer-text">
        <p>Proyecto Transversal &copy; 2019</p>
    </div>

</footer>
</html>