


<html>
<head xmlns:th="http://www.springframework.org/schema/data/jaxb">
    <link rel="stylesheet" type="text/css" href="../static/css/custom-css.css">
</head>

<header>
    <div class="header">
        <a href="index.html">Proyecto Transversal</a>
        <div class="header-right">
            <a class="active" href="list-album.html">Lista Albunes</a>
            <a href="list-canciones.html">Lista Canciones</a>
            <a href="list-artistas.html">Lista Artistas</a>
            <a href="list-generos.html">Lista Generos</a>
            <a href="list-grupos.html">Lista Grupos</a>
        </div>
    </div>
</header>

<body>
<div th:switch="${grupos}" xmlns:th="http://www.w3.org/1999/xhtml">
    <h2 th:case="null">No grupos yet!</h2>
    <div th:case="*">
        <h2>Grupos</h2>
        <table>
            <thead>
            <tr>
                <th>Nombre</th>
                <th>En Activo</th>
                <th>Genero</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="grupo : ${grupos}">
                <td th:text="${grupo.nombre}"></td>
                <td th:if="${grupo.isActivo}==1">Activo</td>
                <td th:unless="${grupo.isActivo}">Innactivo</td>
                <td th:text="${grupo.generoEntity.nombre}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/signup">Add a new grupo</a></p>
</div>
</body>

<footer class="footer">
    <div class="footer-text">
        <p>Proyecto Transversal &copy; 2015</p>
    </div>

</footer>
</html>