<head xmlns:th="http://www.springframework.org/schema/data/jaxb">
    <link rel="stylesheet" type="text/css" th:href="@{/css/custom-css.css}"/>
</head>


<html>
<head xmlns:th="http://www.springframework.org/schema/data/jaxb">
    <link rel="stylesheet" type="text/css" href="../static/css/custom-css.css">
</head>

<header>
    <div class="header">
        <a href="#default" class="logo">Proyecto Transversal</a>
        <div class="header-right">
            <a class="active" href="list-album.html">Lista Albunes</a>
            <a href="list-canciones.html">Lista Canciones</a>
            <a href="list-artistas.html">Lista Artistas</a>
            <a href="list-generos.html">Lista Generos</a>
            <a href="list-grupos.html">Lista Grupos</a>
        </div>
    </div>
</header>

<body>
<div th:switch="${artistas}" xmlns:th="http://www.w3.org/1999/xhtml">
    <h2 th:case="null">No artistas yet!</h2>
    <div th:case="*">
        <h2>Artistas</h2>
        <table>
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Apodo</th>
                <th>Fecha de nacimiento</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="artista : ${artistas}">
                <td th:text="${artista.nombre}"></td>
                <td th:text="${artista.apellidos}"></td>
                <td th:text="${artista.apodo}"></td>
                <td th:text="${artista.fechaNacimiento}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="opciones">
        <p><a href="/add_artista">Add a new artista</a></p>
    </div>

</div>
</body>

<footer class="footer">
    <div class="footer-text">
        <p>Proyecto Transversal &copy; 2015</p>
    </div>

</footer>
</html>